/* tutte le altezze sono provvisorie/da togliere*/
body{
  color: #fff;
}

header {
  min-height: 100px;
}

section {
  min-height: 200px;
  background-color: rgb(241, 207, 207);
}

.green {
  background-color: #1ABC9C;
}

.jumbotron-content {
  text-align: center;
}

.jumbotron-image {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background-color: #fff;
}

.black {
  color: #000;;
}

.cover {
  min-height: 100px;
}

.cover.red {
  background-color: #BA4B63;
}
.cover.aqua {
  background-color: #1EA4B6;
}
.cover.black {
  background-color: #000;
}
.cover.cyan {
  background-color: #1C83C1;
}
.cover.blue {
  background-color: #0E38B5;
}
.cover.pink {
  background-color: #CCB2A3;
}

.box-image {
  min-height: 100px;
  line-height: 100px;
}

.form-text {
  border-bottom: 1px solid lightgray;
}

.footer-top {
  background-color: #3A546D;
  text-align: center;
}

h5 {
  text-transform: uppercase;
}

.social {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 4px;
}

.green-text {
  color: #1ABC9C;
}

header, .footer-bottom {
  background-color: #2C3E50;
}

.footer-bottom {
  height: 80px;
  text-align: center;
}